
/** General Styles **/
.content-group {
    padding: 15px 0;
    background: #fff;
}


/** Button **/
.button {
    border-color: var(--color); /*tobechanged*/
    background: var(--color);
    color: #fff;
    font-size: 18px;
    min-width: 185px;
    padding: 15px 20px;
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    margin: 0 15px 15px 0;
    transition: 350ms;
    cursor: pointer;
    text-decoration: none !important;
    outline: none !important;
}

.button:hover {
    color: #000;
    background: #fff;
}



/** Button Group **/
.button-group ul {
    margin: 0;
    padding: 0;
}

.button-group ul li {
    display: inline-block;
}


/** Colored Bar **/
.colored-bar {
    width: 100%;
    margin: 0;
    background: var(--color);
    height: 45px;
}

/** Full Motion Video **/
#full-hero-wrapper{ 
    padding-bottom: 50px;
    padding-top: 50px; 
    width: 100%;
    max-width: 100%;
    }
    #full-hero { 
    min-width: 100%;
    position: fixed;
    top:0;
    z-index: -999;
    left: 0;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    height: 100%;
    }